<div class="jumbotron ">
  <h1 class="display-4 ">Book Paradise!</h1>
</div>



 <div class=  "row col-md-12 d-flex justify-content-center">
<!---row/column with books to devour--->
<div class="row todevour col-md-6">

<h2 id="heading">Books to devour!</h2>

<div class="col reading-list">
<ol>
    {{#each books}}
        {{#unless devoured}}
            {{> books/books-block devoured=true}}
        {{/unless}}
    {{/each}}
</ol>
</div>
</div>

<!---row with books that were devoured--->

<div class="row devoured col-md-6">

<h2 id="heading2">Books Devoured </h2>
<div class="col read-again">
<ol>
    {{#each books}}
        {{#if devoured}}
             {{> books/books-block devoured=false}}
        {{/if}}
    {{/each}}
</ol>
</div>
</div>




<!---end o main row--->
</div> 

<h2 id="add">Add a Book</h2>
<form class="create-form" action="/" method="POST">
{{!-- <div class="form-group">
    <label for="book"> Book Author:</label>
    <input type= "text" id="book" name="name">
</div> --}}
<div class="form-group">
    <label for="book"> Book Title:</label>
    <input type= "text" id="title" name="name">
    
</div>

<button type="submit">Add a Book</button>

</form>

